extends master

append styles
	// Custom styles for this template
	link(href='../../css/clean-blog.css', rel='stylesheet')
	//Custom Fonts
	link(href="https://fonts.googleapis.com/css?family=Josefin+Sans", rel="stylesheet")
	link(href='../../css/font-awesome.min.css', rel='stylesheet')
	//link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet')
	//link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet')
	link(href='../../css/home-control.css', rel='stylesheet')

append body
	nav.navbar.navbar-inverse.navbar-custom.navbar-fixed-top
		.container-fluid
			// Brand and toggle get grouped for better mobile display
			.navbar-header.page-scroll
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					|                     Menu
					i.fa.fa-bars
				a.navbar-brand-logo(href='/')
					img#logo(src="images/logoSmall.png", alt="Home Control", width="150px")
				// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/') Inicio
					li
						a(href='/nosotros') Nosotros
					li
						a(href='/productos') Productos
					li
						a(href='/usos') Usos
					//li
						//a(href='/soporte') Soporte
					//li
						//a(href='/noticias') Noticias
					li
						a(href='/contacto') Contacto
	hr.navbar-divider
	block body-content

	footer
		.container
			hr.featurette-divider
			.row.footer-custom
				.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					ul.list-inline.text-center
						li
							a(href='https://www.facebook.com/homecontroluruguay/', target="_blank")
								span.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-facebook.fa-stack-1x.fa-inverse
						li
							a(href='http://listado.mercadolibre.com.uy/_CustId_250593166', target="_blank")
								img.mercado-libre-icon(src='images/mercado-libre.png', alt='First slide', height="25px")

						li
							p
								span.fa.fa-envelope-o(style='padding-right: 10px;')
								a(href='mailto:homecontroluruguay@gmail.com', target='_blank', data-original-title='', title='') homecontroluruguay@gmail.com
						li
							p
								span.fa.fa-phone(style='padding-right: 10px;')
								|  099 757 495 / 099 806 340

					p.copyright.text-muted Copyright © Home Control 2017
